@charset "euc-kr";
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(https://res.kurly.com/fonts/NanumGothic-Regular.woff2) format('woff2'),
    url(https://res.kurly.com/fonts/NanumGothic-Regular.woff) format('woff'),
    url(https://res.kurly.com/fonts/NanumGothic-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 200;
    src: url(https://res.kurly.com/fonts/NotoSansKR-Light.woff2) format('woff2'),
    url(https://res.kurly.com/fonts/NotoSansKR-Light.woff) format('woff'),
    url(https://res.kurly.com/fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://res.kurly.com/fonts/NotoSansKR-Regular.woff2) format('woff2'),
    url(https://res.kurly.com/fonts/NotoSansKR-Regular.woff) format('woff'),
    url(https://res.kurly.com/fonts/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url(https://res.kurly.com/fonts/NotoSansKR-Medium.woff2) format('woff2'),
    url(https://res.kurly.com/fonts/NotoSansKR-Medium.woff) format('woff'),
    url(https://res.kurly.com/fonts/NotoSansKR-Medium.otf) format('opentype');
}