<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="./js/vue/vue.js"></script>

    <style>
        * {margin:0;padding:0;vertical-align:middle;border:0;}
        body{text-align:center;}
        
        h1 {color:#39b;font-size:40px;margin-top:50px;}    
        h2 {color:#b38;font-size:15px;width:500px;height:250px;margin:0 auto;overflow-y:scroll;border:1px solid #ccc;background:#f6f6f6;white-space:wrap;}

        #app {padding-top:50px;}
        span {display: inline-block;margin:0 10px;}
        span input[type='checkbox'] {width:15px;height:15px;border:1px solid #333;}

  
    </style>

</head>
<body>
    
    <h1>v-model 디렉티브 이벤트 체크박스</h1>
    
    <div id="app">

        <div class="chk-wrap">  
            <span>
                <input v-model='chk1'  type="checkbox" name="chk1" id="chk1" value="영화">
                <label for="chk1">{{ chk1 }}</label>
            </span>
            <span>
                <input v-model='chk2' type="checkbox" name="chk2" id="chk2" value="여행">
                <label for="chk2">{{ chk2 }}</label>
            </span>
        </div>

    </div>
    
    <script>
        const obj = new Vue({
            el:'#app',
            data:{
                chk1: false,
                chk2: false
            }
        });
    </script>




</body>
</html>